@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="tw-p-4 tw-bg-purple-500 tw-text-yellow-300 tw-border-2 tw-border-green-500 tw-rounded-lg tw-m-4">
    hi :)
</div>
